<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ER System | <%= title %>
    </title>
</head>

<body>
    <h1 class="heading clip image">
        Employee Review System App By Garvit | <%= title %>
    </h1>


    <div class="register_login">
        <div class="title">WELCOME</div>
        <p>Wadaap bitch are you new? <a href="/register">Register</a> </p>
        <p>Already a member? <a href="/login">Login</a> </p>
    </div>
</body>

</html>